<div class="d-flex flex-column h-100">
  <div class="image-bg d-flex flex-column justify-content-center align-items-center">
    <form [formGroup]="mapIpAdress" (ngSubmit)="onSubmit()">
      <h3 class="d-flex justify-content-center text-white pb-4">IP Address Tracker</h3>
      <div class="input-group">
        <input type="text" class="form-control search p-3" placeholder="Search for any IP Address or domain"
          formControlName="ipAddress">
        <button class="submit-btn btn bg-dark px-4" type="submit"><img src="/assets/images/icon-arrow.svg"
            alt="arrow"></button>
      </div>
    </form>
    <div class="card ipDetails" *ngIf="locationData">
      <div class="card-body d-sm-flex p-sm-4 px-5 px-sm-4">
        <div class="details text-center text-sm-start pe-sm-4 mb-4 mb-sm-0">
          <span class="text-muted fw-bold title">IP ADDRESS</span>
          <h4 *ngIf="locationData">{{locationData.ip}}</h4>
        </div>
        <div class="details text-center text-sm-start ps-sm-4 pe-sm-4 mb-4 mb-sm-0">
          <span class="text-muted fw-bold title">LOCATION</span>
          <h4 *ngIf="locationData">{{locationData.location.country}}, {{locationData.location.region}}</h4>
        </div>
        <div class="details text-center text-sm-start ps-sm-4 pe-sm-4 mb-4 mb-sm-0">
          <span class="text-muted fw-bold title">TIMEZONE</span>
          <h4 *ngIf="locationData">{{locationData.location.timezone}}</h4>
        </div>
        <div class="text-center text-sm-start ps-sm-4 pe-sm-4">
          <span class="text-muted fw-bold title">ISP</span>
          <h4 *ngIf="locationData">{{locationData.isp}}</h4>
        </div>
      </div>
      <div *ngIf="!locationData"></div>
    </div>
  </div>
  <div id="map" class="h-100 flex-grow-1"></div>
</div>