.image-bg {
    flex: 0 0 30%;
    background-image: url('~src/assets/images/pattern-bg.png');
    background-position: center;
    background-size: cover;
}

.ipDetails{
    position: absolute;
    top: 26%;
    z-index: 999;
    border-radius: 15px;
}

.title{
    font-size: 10px;
}

.details{
    @media (min-width: 576px){
        border-right: 2px solid #d2d3d4;
    }
}